<div id="formats">
	<div id="header-format-1">
		<div style="float: left; margin: 36px 30px;"> 
			<%= image_tag "http://a.dryicons.com/images/icon_sets/simplistica/png/128x128/add.png" %>
		</div>
		<div style="float: right; font-family: default; margin: 86px 50px;">
			<hgroup>
					<h1 style="margin: 0;">ingrese algún texto</h1>
			</hgroup>
		</div>
		<div style="clear: both"></div>
	</div>
	
	<div id="header-format-2">
		<div style="float: left; margin: 36px 30px;"> 
			<%= image_tag "http://a.dryicons.com/images/icon_sets/simplistica/png/128x128/add.png" %>
		</div>
		<div style="float: right; font-family: default; margin: 50px 50px;">
			<hgroup>
					<h1 style="margin: 0;">ingrese algún texto</h1>
			</hgroup>
			<ul style="margin: 10px 25px; font-size: 1.4em; padding: 0;">
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
		</div>
		<div style="clear: both"></div>
	</div>
	
	<div id="header-format-3">
		<div style="float: left; margin: 36px 30px;"> 
			<%= image_tag "http://a.dryicons.com/images/icon_sets/simplistica/png/128x128/add.png" %>
		</div>		
		<div style="clear: both"></div>
	</div>
</div>
