<div class="formats">
	<div id="header-format-1">
		<div style="float: left; margin: 36px 30px;">
			<div class="bordered header-content-image" id="header-content-image" style="text-align: center;">
				<%= image_tag @imageHeader, alt: 'Logo' %> 
			</div>
		</div>
		<div style="float: right; font-family: default; margin: 86px 50px; width: 45%; text-align: right;" class="bordered">
			<hgroup>
					<h1 style="margin: 0;">&lt;ingrese un título&gt;</h1>
			</hgroup>
		</div>
		<div style="clear: both"></div>
	</div>
	
	<div id="header-format-2">
		<div style="float: left; margin: 36px 30px;">
			<div class="bordered" id="header-content-image" style="text-align: center;">
				<%= image_tag @imageHeader, alt: 'Logo' %> 
			</div>
		</div>
		<div style="float: right; font-family: default; margin: 50px 50px; width: 35%;" class="bordered">
			<div style="margin: 0 16%;">
				<hgroup>
						<h1 style="margin: 0;">&lt;ingrese un título&gt;</h1>
				</hgroup>
				<ul style="margin: 10px 25px; font-size: 1.4em; padding: 0;">
					<li>&lt;Item 1&gt;</li>
					<li>&lt;Item 2&gt;</li>
					<li>&lt;Item 3&gt;</li>
				</ul>
			</div>
		</div>
		<div style="clear: both"></div>
	</div>
	
	<div id="header-format-3">
		<div style="float: left; margin: 36px 30px;">
			<div class="bordered" id="header-content-image" style="text-align: center;">
				<%= image_tag @imageHeader, alt: 'Logo' %> 
			</div>
		</div>		
		<div style="clear: both"></div>
	</div>
</div>
