<div class="formats">	
	<div id="section-format-image-1">
		<div style="width: 75%; margin: 36px auto;" class="bordered">
			<div style="height: 124px; text-align: center;">
				<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	
	<div id="section-format-image-2">
		<div style="float: left; width: 50%;"> 
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
				</div>
			</div>
		</div>
		
		<div style="float: right; width: 50%;">
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	
	<div id="section-format-image-3">
		<div style="float: left; width: 33.333%;"> 
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
				</div>
			</div>
		</div>
		
		<div style="float: left; width: 33.333%"> 
			<div style="width: 80%; margin: 36px auto;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
				</div>
			</div>
		</div>
		
		<div style="float: right; width: 33.333%;">
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	
	<div id="section-format-image-4">
		<div style="float: left; width: 50%;"> 
			<div style="float: left; width: 50%;"> 
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
					</div>
				</div>
			</div>
		
			<div style="float: right; width: 50%;">
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="float: right; width: 50%;">
			<div style="float: left; width: 50%;"> 
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
					</div>
				</div>
			</div>
		
			<div style="float: right; width: 50%;">
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar una imagen&gt;</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	
	
	
	<div id="section-format-text-1">
		<div style="font-family: default; width: 75%; margin: 36px auto;" class="bordered">
			<div style="height: 124px; text-align: center;">
				<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	
	<div id="section-format-text-2">
		<div style="font-family: default; float: left; width: 50%;"> 
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
				</div>
			</div>
		</div>
		
		<div style="font-family: default; float: right; width: 50%;">
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	
	<div id="section-format-text-3">
		<div style="font-family: default; float: left; width: 33.333%;"> 
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
				</div>
			</div>
		</div>
		
		<div style="float: left; width: 33.333%"> 
			<div style="font-family: default; width: 80%; margin: 36px auto;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
				</div>
			</div>
		</div>
		
		<div style="font-family: default; float: right; width: 33.333%;">
			<div style="margin: 36px 30px;" class="bordered">
				<div style="height: 124px; text-align: center;">
					<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	
	<div id="section-format-text-4">
		<div style="font-family: default; float: left; width: 50%;"> 
			<div style="float: left; width: 50%;"> 
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
					</div>
				</div>
			</div>
		
			<div style="font-family: default; float: right; width: 50%;">
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
					</div>
				</div>
			</div>
		</div>
		
		<div style="font-family: default; float: right; width: 50%;">
			<div style="float: left; width: 50%;"> 
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
					</div>
				</div>
			</div>
		
			<div style="font-family: default; float: right; width: 50%;">
				<div style="margin: 36px 30px;" class="bordered">
					<div style="height: 124px; text-align: center;">
						<div style="padding: 53px 0;">&lt;click para agregar un bloque de texto&gt;</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
