<div class="home">
	<div id="body">
		<div id="content" style="width: 1024px; margin: 0 auto;" >
			<header>HEADER</header>
			<section id="section1">SECTION 1</section>
			<section id="section2">SECTION 2</section>
			<section id="section3">SECTION 3</section>
			<section id="section4">SECTION 4</section>
			<section id="section5">SECTION 5</section>
			<footer>
				<div id="footer">FOOTER</div>
				<div id="bottom-line">BOTTOM-LINE</div>
			</footer>
		</div>
	</div>
</div>
<div id="page-bg-colorpicker">
	<input id="page-bg-colorpicker-input">
</div>
