<div id="main">
	<div id="body" style="padding: 30px 0;">
		<div id="content" class="bordered" style="width: 1024px; margin: 0 auto;" >
			<header id="header">
				<div class="padded">Header</div>				
			</header>			
			<section id="section-1" class="top-bordered">
				<div class="padded">Section 1</div>
			</section>
			<section id="section-2" class="top-bordered">
				<div class="padded">Section 2</div>
			</section>
			<section id="section-3" class="top-bordered">
				<div class="padded">Section 3</div>
			</section>
			<section id="section-4" class="top-bordered">
				<div class="padded">Section 4</div>
			</section>
			<section id="section-5" class="top-bordered">
				<div class="padded">Section 5</div>
			</section>
			<footer id="footer">
				<div id="footer-content" class="top-bordered">
					<div class="padded">Footer</div>
				</div>
				<div id="footer-bottom-line" class="top-bordered">
					<div class="padded">Bottom-Line</div>
				</div>
			</footer>
		</div>		
	</div>	
</div>
<%= render 'core/html_menus/header-menus' %>
<%= render 'core/html_formats/header-formats' %>
<%= render 'core/html_formats/section-formats' %>

