<div id="border-menu-position" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="border-menu-content">
		<div id="style-border-top-solid" class="primary">Arriba</div>
		<div id="style-border-right-solid" class="primary">Derecha</div>
		<div id="style-border-bottom-solid" class="primary">Abajo</div>
		<div id="style-border-left-solid" class="primary">Izquierda</div>
	</div>	
</div>

<div id="border-menu-style" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="border-menu-content">
		<div id="style-border-style-solid" class="primary">Sólido</div>
		<div id="style-border-style-dotted" class="primary">Punteado</div>
		<div id="style-border-style-dashed" class="primary">Discontinua</div>
		<div id="style-border-style-double" class="primary">Doble</div>
	</div>	
</div>

<div id="border-menu-width" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="border-menu-content">
		<div id="style-border-width-1px" class="primary">Muy Delgado</div>
		<div id="style-border-width-3px" class="primary">Delgado</div>
		<div id="style-border-width-5px" class="primary">Grueso</div>
		<div id="style-border-width-10px" class="primary">Muy Grueso</div>
	</div>	
</div>

<div id="border-menu-radius" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="border-menu-content">
		<div id="style-border-radius-5px" class="primary">Muy Leve</div>
		<div id="style-border-radius-10px" class="primary">Leve</div>
		<div id="style-border-radius-20px" class="primary">Pronunciado</div>
		<div id="style-border-radius-40px" class="primary">Muy Pronunciado</div>
	</div>	
</div>

<div id="font-menu-size" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="font-menu-content">
		<div id="text-style-font-size-10px" class="primary">Muy Pequeña</div>
		<div id="text-style-font-size-16px" class="primary">Pequeña</div>
		<div id="text-style-font-size-24px" class="primary">Grande</div>
		<div id="text-style-font-size-32px" class="primary">Muy Grande</div>
	</div>	
</div>

<div id="font-menu-style" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="font-menu-content">
		<div id="text-style-font-style-normal" class="primary">Normal</div>
		<div id="text-style-font-weight-bold" class="primary">Negrita</div>
		<div id="text-style-font-style-italic" class="primary">Cursiva</div>
	</div>	
</div>

<div id="format-menu-image" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="format-menu-content">		
		<div id="format-option-image-section-1" class="primary">Una</div>
		<div id="format-option-image-section-2" class="primary">Dos</div>
		<div id="format-option-image-section-3" class="primary">Tres</div>
		<div id="format-option-image-section-4" class="primary">Cuatro</div>
	</div>	
</div>

<div id="format-menu-text" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="format-menu-content">		
		<div id="format-option-text-section-1" class="primary">Una</div>
		<div id="format-option-text-section-2" class="primary">Dos</div>
		<div id="format-option-text-section-3" class="primary">Tres</div>
		<div id="format-option-text-section-4" class="primary">Cuatro</div>
	</div>	
</div>
