<div id="header-menu" class="menu">
	<div id="header-option-1">Imagen y Texto</div>
	<div id="header-option-2">Imagen y Lista</div>
	<div id="header-option-3">Sólo Imagen</div>
</div>

<div id="style-menu" class="menu">
	<div>
		Background Color
		<p><input id="header-bg-colorpicker-input">
	</div>
	<div>Border</div>
	<div>Box Shadow</div>
</div>
