<div id="body-menu" class="menu">
	<div class="primary">
		Background Color
		<input id="page-bg-colorpicker-input" class="my-colorpicker">
	</div>
</div>

<div id="header-menu" class="menu">
	<div id="header-option-1" class="primary">Imagen y Texto</div>
	<div id="header-option-2" class="primary">Imagen y Lista</div>
	<div id="header-option-3" class="primary">Sólo Imagen</div>
</div>

<div id="menu-style" class="menu">
	<div class="primary">
		Background Color
		<input id="header-bg-colorpicker-input" class="my-colorpicker">
	</div>
	<div>
		<div id="border-menu-primary" class="primary">Border</div>
		<div id="border-menu-secondary" class="secondary hidden">
			<div id="option-border-position">Posición</div>
			<div id="option-border-style">Estilo</div>
			<div id="option-border-width">Grosor</div>
			<div id="option-border-radius">Radio</div>
			<div>
				Color	<input id="header-border-colorpicker-input" class="my-colorpicker" value="Color">
			</div>
		</div>
	</div>
	<div class="primary">Box Shadow</div>
</div>

<%= render 'core/html_menus/tooltip-menus' %>
