<div id="body-menu" class="menu">
	<div class="primary">
		Background Color
		<input id="page-bg-colorpicker-input" class="my-colorpicker">
	</div>
</div>

<div id="header-menu" class="menu">
	<div id="header-option-1" class="primary">Imagen y Texto</div>
	<div id="header-option-2" class="primary">Imagen y Lista</div>
	<div id="header-option-3" class="primary">Sólo Imagen</div>
</div>

<div id="menu-style" class="menu">
	<div class="primary">
		Background Color
		<input id="header-bg-colorpicker-input" class="my-colorpicker">
	</div>
	<div>
		<div id="border-menu-primary" class="primary">Border</div>
		<div id="border-menu-secondary" class="secondary hidden">
			<div id="option-border-position">Posición</div>
			<div id="option-border-style">Estilo</div>
			<div id="option-border-width">Grosor</div>
			<div id="option-border-radius">Radio</div>
			<div>
				<input id="header-border-colorpicker-input" class="my-colorpicker" value="Color">
			</div>
		</div>
	</div>
	<div>
		<div id="boxshadow-menu-primary" class="primary">Box Shadow</div>
		<div id="boxshadow-menu-secondary" class="secondary hidden">
			<div class="clearfix">
				<p class="pull-left">Vertical</p>
				<p class="pull-right pixel-input-box"><input id="input-boxshadow-1" data-option="vertical" class="pixel-input" value="0">px</p>
			</div>
			<div class="clearfix">
				<p class="pull-left" >Horizontal</p>
				<p class="pull-right pixel-input-box"><input id="input-boxshadow-2" data-option="horizontal" class="pixel-input" value="0">px</p>
			</div>
			<div class="clearfix">
				<p class="pull-left">Difuminación</p>
				<p class="pull-right pixel-input-box"><input id="input-boxshadow-3" data-option="blur" class="pixel-input" value="0">px</p>
			</div>
			<div>
				<input id="header-boxshadow-colorpicker-input" class="my-colorpicker" value="Color" data-color-format="rgba">
			</div>
		</div>
	</div>	
</div>

<%= render 'core/html_menus/border-tooltip-menus' %>
