<div id="border-menu-position" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="border-menu-content">
		<div id="style-border-top-solid" class="primary">Arriba</div>
		<div id="style-border-right-solid" class="primary">Derecha</div>
		<div id="style-border-bottom-solid" class="primary">Abajo</div>
		<div id="style-border-left-solid" class="primary">Izquierda</div>
	</div>	
</div>

<div id="border-menu-style" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="border-menu-content">
		<div id="style-border-style-solid" class="primary">Sólido</div>
		<div id="style-border-style-dotted" class="primary">Punteado</div>
		<div id="style-border-style-dashed" class="primary">Discontinua</div>
		<div id="style-border-style-double" class="primary">Doble</div>
	</div>	
</div>

<div id="border-menu-width" class="my-tooltip hidden menu">
	<div class="bubble-outer">
		<div class="bubble-inner"></div>
	</div>
	<div class="border-menu-content">
		<div id="style-border-width-1px" class="primary">Muy Delgado</div>
		<div id="style-border-width-3px" class="primary">Delgado</div>
		<div id="style-border-width-5px" class="primary">Grueso</div>
		<div id="style-border-width-10px" class="primary">Muy Grueso</div>
	</div>	
</div>
