// Place all the styles related to the Core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* Variables */

/* Color Variables */
$lightBeige: rgba(255, 255, 229, 1);
$lightBrown: rgba(153, 102, 51, 0.2);
$darkBrown: rgba(153, 102, 51, 0.8);
$shadowBrown: rgba(153, 102, 41, 1);

/* Semantic Colors */
$headerBackgroundColor: $lightBeige;
$headerBorderColor: $lightBrown;

$headerTitleColor: $darkBrown;
$shadowColor: $shadowBrown;

/* Font Varibales */
$ballparkFont: "BallparkWeiner", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
$specialEliteFont: "SpecialEliteRegular", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Fonts */

@font-face {
    font-family: 'BallparkWeiner';
    src: font-url('ballpark_weiner-webfont.eot');
    src: font-url('ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('ballpark_weiner-webfont.woff') format('woff'),
         font-url('ballpark_weiner-webfont.ttf') format('truetype'),
         font-url('ballpark_weiner-webfont.svg#TBallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpecialEliteRegular';
    src: url('specialelite-webfont.eot');
    src: url('specialelite-webfont.eot?#iefix') format('embedded-opentype'),
         url('specialelite-webfont.woff') format('woff'),
         url('specialelite-webfont.ttf') format('truetype'),
         url('specialelite-webfont.svg#SpecialEliteRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Genearl */
body {
	margin: 0;
}

.inset-shadow-text {
	text-shadow: 0px 2px 3px #999;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

/* Header */

.fixed-menu {
	width: 400px;
	margin-top: 30px;
	position: fixed;
	left: -330px;
	-webkit-border-radius: 0 5px 25px 0;
	-moz-border-radius: 0 5px 25px 0;
	border-radius: 0 5px 25px 0;
	border: dashed 2px $headerBorderColor;
	background: $headerBackgroundColor;
	-moz-transition: left 1s;
	-webkit-transition: left 1s;
	-o-transition: left 1s;
	
	transition: left 1s;
	&:hover {
		left: -3px;
	}
	
	h1 {
		font-family: $ballparkFont;
		font-weight: normal;
		font-size: 3.5em;
		margin: 15px 30px;
		float: left;
		color: $headerTitleColor;
	}
	
	.header-form {
		float: right;		
		margin: 12px 18px;
	}
}

/* Body */

.home {
	background: #FFFFFF;
	#content {
		font-family: $specialEliteFont;
		color: #666666;
		font-size: 30px;
		border: dashed 2px #999;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		header {
			height: 200px;
			padding: 20px 0 0 20px;
		}
	}
	#section1, #section2, #section3, #section4, #section5 {
		height: 100px;
		border-top: dashed 2px #999;
		padding: 20px 0 0 20px;
	}
	footer {
		#footer{
			border-top: dashed 2px #999;
			height: 150px;
			padding: 20px 0 0 20px;
		}
		#bottom-line {
			border-top: dashed 2px #999;
			height: 50px;
			padding: 20px 0 0 20px;
		}
	}
}

/* Forms */

form {
	margin: 0;
	input[type="submit"] {
		&.button {
			border-radius: 20px 20px;
			border: none;
			background-color: $lightBrown;
			width:39px;
			height: 41px;
			cursor: pointer;
			-webkit-box-shadow: 0px 2px 10px $shadowColor;
			-moz-box-shadow: 0px 2px 10px $shadowColor;
			box-shadow: 0px 2px 10px $shadowColor;
			margin: 0;
			&:hover {
				-webkit-box-shadow: 0px 5px 10px $shadowColor inset;
				-moz-box-shadow: 0px 5px 10px $shadowColor inset;
				box-shadow: 0px 2px 10px $shadowColor inset;			
			}
		}
	}
}

/* Color pickers */

#page-bg-colorpicker {
	display: none;
	position: absolute;
	widh: 125px;
	height: 125px;
}
