<header class="fixed-menu">
	<h1>Landingpager</h1>

	<div class="header-form">
		<%= form_tag({ controller: "core", action: "generate", method: "post" }, onsubmit: "updateSubmitInfo()", ) do %>
			<%= hidden_field_tag "html_string"  %>
			<%= hidden_field_tag "html_background"  %>
			<%= submit_tag("", class: "button inset-shadow-text") %>
		<% end %>	
	</div>
  
</header>

